body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f9;
  }
  
  /* .header {
    text-align: center;
    padding: 20px;
    background: #503a2d;
    color: #fff;
  } */
  
  .prompt-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    width: 50%;
  }
  
  textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-generate {
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-generate:hover {
    background: #0056b3;
  }
  
  .character-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .character-card {
    width: 150px;
    text-align: center;
  }
  
  .character-card img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .character-name{
    color: rgb(240, 62, 181);
  }
  